<bnpl-options class=" ge-hide-display-none ge-hide">
  <div class="bnpl-placement">
    {{ 'klarna' | payment_type_svg_tag: class: 'icon icon--full-color' }}
    <span>
      {% if price >= 3000 %}
        or make 3 interest-free payments of <strong>{{ price | divided_by: 3 | money_without_trailing_zeros }}</strong> with Klarna.
        <br>
      {% else %}
        pay in 30 days with Klarna. <br>
      {% endif %}
      <a href="/pages/klarna-terms-conditions" class="klarna-link">Learn More</a>
    </span>
  </div>
  <div class="bnpl-placement">
    {{ 'afterpay' | payment_type_svg_tag: class: 'icon icon--full-color' }}
    <span>
      or make 4 interest-free payments of <strong>{{ price | divided_by: 4 | money_without_trailing_zeros }}</strong> with ClearPay.
      <br>
      <a href="/pages/clearpay-terms-conditions" class="clearpay-link">Learn More</a>
    </span>
  </div>
</bnpl-options>

{% style %}
  bnpl-options {
    display: flex;
    flex-flow: column;
    gap: 0.5em;
    margin-block: 1em;
    border-top: 1px solid var(--c-grey);
    padding-top: 1em;
  }
  .bnpl-placement,
  .bnpl-placement a {
    font-size: var(--txt-sm) !important;
    display: flex;
    gap: 1em;
    align-items: center;
  }

  .bnpl-placement a {
    gap: 0.2em;
  }

  .bnpl-modal {
    position: fixed;
    background-color: var(--c-white);
    inset: 0;
    margin: auto;
    width: min(100vw, 1270px);
    max-height: min(100vh, 950px);
    z-index: 11;
    padding: 4rem 1rem 2rem;
    overflow: hidden;
    & .bnpl-modal--content {
      overflow-y: auto;
      position: static;
      max-height: calc(100vh - 6rem);
      padding: 0.5rem;
    }
  }

  button.modal-close {
    position: absolute;
    inset: 1.5rem 1rem auto auto;
    & svg {
      transform: rotate(0deg);
      transition: transform 0.4s var(--bezier);
    }
    &:hover svg {
      transform: rotate(360deg);
    }
  }

  @media screen and (width > 768px) {
    .bnpl-modal {
      width: var(--max-width);
      max-height: min(90vh, 950px);
      padding: 4rem 3rem 3rem;
      & .bnpl-modal--content {
        max-height: calc(90vh - 7rem);
        height: 100%;
      }
    }
  }
{% endstyle %}
