{% comment %} Check whether the cart is mixed of a straight gender {% endcomment %}
{% assign latest_gender = cart.items[0].vendor | downcase | default: '' %}
{% assign mixed_cart = false %}
{% for item in cart.items offset: 1 %}
  {% if item.vendor != cart.items[0].vendor %}
    {% assign mixed_cart = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% comment %} which collection do we need to display? {% endcomment %}
{% if mixed_cart %}
  {% case latest_gender %}
    {% when 'womens', 'mens', 'accessories' %}
      {% assign upsell_collection = collections['unisex-basket-collection'] %}
    {% else %}
      {% assign upsell_collection = collections['kids-basket-collection'] %}
  {% endcase %}
{% else %}
  {% case latest_gender %}
    {% when 'womens' %}
      {% assign upsell_collection = collections['womens-basket-collection'] %}
    {% when 'mens' %}
      {% assign upsell_collection = collections['mens-basket-collection'] %}
    {% when 'boys' %}
      {% assign upsell_collection = collections['boys-basket-collection'] %}
    {% when 'girls' %}
      {% assign upsell_collection = collections['girls-basket-collection'] %}
    {% else %}
      {% assign upsell_collection = collections['unisex-basket-collection'] %}
  {% endcase %}
{% endif %}

{% comment %} check to see if we are close to a free shipping threshold {% endcomment %}
{% assign total_cart = cart.total_price | times: 1 %}
{% if total_cart >= 6500 and total_cart <= 7500 or total_cart >= 11500 and total_cart <= 12500 %}
  {% assign in_range = true %}
{% endif %}

<cart-upsells>
  <div class="cart-upsells">
    <h2 class="h4 emphasis">You might like {% render 'icon', icon: 'plus', class: 'inline-flex' %}</h2>

    <div class="cart-upsells--carousel" data-collection="{{ upsell_collection.title | handle }}">
      {% for product in upsell_collection.products %}
        {% if forloop.last and in_range and product.available %}
          {% render 'product-card', product: product, modal: true, class: 'first-item' %}
        {% elsif product.available %}
          {% render 'product-card', product: product, modal: true %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</cart-upsells>
