<div class="dropdown_sub-menu">
  <b class="sub-menu_title">{{ menu.title | split: "-" | last }}</b>
  <ul class="sub_menu-items">
  {% for link in menu.links %}
      <li class="sub_menu-item" aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-{{link.title}}">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>