{% assign payments = "klarna,afterpay,american_express,apple_pay,google_pay,maestro,master,visa,paypal" | split: "," %}

<ul class="payment-icons">
  {% for type in payments %}
    <li class="payment-icon">
      {{ type | payment_type_svg_tag }}
    </li>
  {% endfor %}
</ul>