{% assign description = product.description %}
{% assign description = description | remove: 'data-mce-fragment="1"' | replace: ' >', '>' | replace: '<h4>', '||<h4>' | replace: '<p>', '||<p>' | replace: '<ul>', '||<ul>' %}
{% assign description_elements = description | split: '||' %}

<content-accordian class="max-width pdp-tabs">
  {% comment %} description {% endcomment %}
  <div class="accordian-item item-1">
    <div class="accordian-header {%if show_desc %}active{% endif %}" aria-controls="accordian-content-1" role="button" tabindex="0">Product Details</div>
    <div class="rtf accordian-content {%if show_desc %}active{% endif %}" id="accordian-content-1">
      {{ product.description | replace: 'Product Details', '' }}
      {% comment %}
        {% for element in description_elements %}
          {% if forloop.last %}
            <hr>
          {% endif %}
          {% assign standardised = element | downcase %}
          {% unless standardised contains 'model' or standardised contains "product details" or standardised contains "size & fit" or standardised contains 'size and fit' %}
          {{ element }}
          {% endunless %}
        {% endfor %}
      {% endcomment %}
    </div>
  </div>
  {% comment %} Shipping Information {% endcomment %}
  <div class="accordian-item item-2">
    <div class="accordian-header" aria-controls="accordian-content-2" role="button" tabindex="0">Delivery & Returns</div>
    <div class="rtf accordian-content" id="accordian-content-2">
      <p class="accent-bg" style="padding: 15px 18px;">
        <strong
          ><a href="https://thegymking.com/products/unlimited-uk-delivery" target="_blank">Unlimited UK Delivery {% render 'icon', icon: 'external' %}</a>- £10 per year<br>
          3-5 days</strong
        ><br>
        Unlimited Standard UK delivery with no minimum order value for 12 months.
      </p>

      <p>
        <strong
          >UK Standard Delivery - £3.99<br>
          3-5 days</strong
        ><br>
        Fully tracked with Royal Mail. <strong>FREE when you spend £75.</strong>
      </p>

      <p>
        <strong
          >UK Express Delivery - £5.99<br>
          1-2 working days</strong
        ><br>
        Fully tracked and secure with DPD. Order before 7.00pm Monday - Friday for same day dispatch
        <strong>FREE when you spend £125.</strong>
      </p>

      <p>
        <strong
          >UK Saturday Delivery - £8.99<br>
          Saturday delivery</strong
        ><br>
        Fully tracked with DPD. Order before 7.00pm Friday for delivery the same week.
      </p>

      <p>
        <strong
          >International Delivery - from £5 in local currency<br>
          5+ working days</strong
        >
      </p>
      <p>Estimated time and price varies by country, visit our <a href="/pages/help-centre-delivery-and-orders">Delivery FAQ page</a> for more information.</p>
      <hr>
      {% if show_extended %}
        <div class="accent-bg" style="padding: 15px 18px;">
          <p><strong>{{ extended_title }}</strong></p>
          {{ extended_text }}
        </div>
      {% endif %}
      <p>
        <strong>Easy 30 Day UK Returns - £2.95</strong><br>
        Easily arrange your paid return postage via our <a href="https://thegymking.returns.international/" target="_blank">UK returns portal</a>.
      </p>
      <p>
        <strong>Easy 30 Day International Returns - price varies by country</strong><br>
        Easily arrange your paid return postage via our <a href="https://web.global-e.com/Returns/Portal" target="_blank">Intenational returns portal</a>.
      </p>
      <p>Visit our <a href="/pages/help-centre-returns">Returns FAQ page</a> for more information</p>
    </div>
  </div>
</content-accordian>
