{%- assign description = product.description | replace: ' data-mce-fragment="1"', '' -%}
{%- assign parts = description | split: '<h4' -%}

{% for part in parts %}
  {% if part contains 'Size & Fit' or part contains 'size & fit' or part contains 'size & fit' or part contains 'Size and Fit' %}
    {%- assign match = '<h4' | append: part -%}
    {%- assign description = description | remove: match -%}
  {% endif %}
{% endfor %}

{%- assign parts = description | split: '</h4>' -%}
{%- assign description = description | remove: parts[0] -%}
{%- assign description = description | replace: '<h4', '<h4 class="h5"' -%}
{%- assign description = description | replace_last: '<p', '<hr> <p' -%}

<content-accordian class="max-width">
  {% comment %} description {% endcomment %}
  <div class="accordian-item item-1">
    <div class="accordian-header active" aria-controls="accordian-content-1" role="button" tabindex="0">Product Details</div>
    <div class="rtf accordian-content active" id="accordian-content-1">{{ description | strip }}</div>
  </div>
  {% comment %} Shipping Information {% endcomment %}
  <div class="accordian-item item-2">
    <div class="accordian-header" aria-controls="accordian-content-2" role="button" tabindex="0">Delivery & Returns</div>
    <div class="rtf accordian-content" id="accordian-content-2">
      <p class="accent-bg" style="padding: 15px 18px;">
        <strong
          ><a href="https://thegymking.com/products/unlimited-uk-delivery" target="_blank">Unlimited UK Delivery {% render 'icon', icon: 'external' %}</a>- £10 per year<br>
          3-5 days</strong
        ><br>
        Unlimited Standard UK delivery with no minimum order value for 12 months.
      </p>

      <p>
        <strong
          >UK Standard Delivery - £3.99<br>
          3-5 days</strong
        ><br>
        Fully tracked with Royal Mail. <strong>FREE when you spend £75.</strong>
      </p>

      <p>
        <strong
          >UK Express Delivery - £5.99<br>
          1-2 working days</strong
        ><br>
        Fully tracked and secure with DPD. Order before 7.00pm Monday - Friday for same day dispatch
        <strong>FREE when you spend £125.</strong>
      </p>

      <p>
        <strong
          >UK Saturday Delivery - £8.99<br>
          Saturday delivery</strong
        ><br>
        Fully tracked with DPD. Order before 7.00pm Friday for delivery the same week.
      </p>

      <p>
        <strong
          >International Delivery - from £5 in local currency<br>
          5+ working days</strong
        ><br>
        Estimated time and price varies by country, for more please see our full delivery information.
      </p>
      <hr>
      {% comment %}
        <p style="padding: 15px 18px;background-color: var(--accent-background);">
          <strong>EXTENDED CHRISTMAS RETURNS</strong><br>
          All purchases made between 18th October and 20th December are eligible for our extended Christmas Returns
          period, you will have until Wednesday 31st January to return your items.
        </p>
      {% endcomment %}
      <p>
        <strong>Easy 30 Day UK Returns - £2.95</strong><br>
        Easily arrange your paid return postage via our <a href="https://thegymking.returns.international/" target="_blank">UK returns portal</a>.
      </p>
      <p>
        <strong>Easy 30 Day International Returns - price varies by country</strong><br>
        Easily arrange your paid return postage via our <a href="https://web.global-e.com/Returns/Portal" target="_blank">Intenational returns portal</a>.
      </p>
    </div>
  </div>
</content-accordian>
