  <div class="max-width">
    <div class="rtf" style="width: min(100%, 400px);">
      <p class="h3 emphasis" style="letter-spacing:normal;">
       {{ title }}
      </p>
        <ul class='signup-perks--list'>
          <li>Manage your details</li>
          <li>Track your orders</li>
          <li>View your order history</li>
          <li>Access the Gym King Loyalty Club
            <ul>
              <li>Earn rewards points on your purchases</li>
              <li>Get exclusive access to launches and sales</li>
              <li>Receive birthday rewards</li>
            </ul>
          </li>
        </ul>
        <br>
    </div>
  </div>