<size-table>
  <table>
    <thead>
      <tr>
        <th rowspan="2">UK</th>
        <th rowspan="2">EU</th>
        <th rowspan="2">US</th>
        <th colspan="2" class="unit">CM</th>
        <th colspan="2" class="unit">INCH</th>
      </tr>
      <tr>
        <th class="cm">CHEST</th>
        <th class="cm">WAIST</th>
        <th class="in">CHEST</th>
        <th class="in">WAIST</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>XS</td>
        <td>44</td>
        <td>34</td>
        <td class="cm">90</td>
        <td class="cm">86</td>
        <td class="in">35 &frac12;</td>
        <td class="in">34</td>
      </tr>
      <tr>
        <td>S</td>
        <td>46</td>
        <td>36</td>
        <td class="cm">95</td>
        <td class="cm">95</td>
        <td class="in">37 &frac12;</td>
        <td class="in">36</td>
      </tr>
      <tr>
        <td>M</td>
        <td>48</td>
        <td>38</td>
        <td class="cm">100</td>
        <td class="cm">96</td>
        <td class="in">39 &frac12;</td>
        <td class="in">38</td>
      </tr>
      <tr>
        <td>L</td>
        <td>50</td>
        <td>40</td>
        <td class="cm">105</td>
        <td class="cm">101</td>
        <td class="in">41 &frac12;</td>
        <td class="in">40</td>
      </tr>
      <tr>
        <td>XL</td>
        <td>52</td>
        <td>42</td>
        <td class="cm">110</td>
        <td class="cm">106</td>
        <td class="in">43 &frac34;</td>
        <td class="in">42</td>
      </tr>
      <tr>
        <td>XXL</td>
        <td>54</td>
        <td>44</td>
        <td class="cm">115</td>
        <td class="cm">111</td>
        <td class="in">45 &frac12;</td>
        <td class="in">44</td>
      </tr>
      <tr>
        <td>XXXL</td>
        <td>56</td>
        <td>46</td>
        <td class="cm">122.5</td>
        <td class="cm">118.5</td>
        <td class="in">48</td>
        <td class="in">34 &frac12;</td>
      </tr>
    </tbody>
  </table>
</size-table>
