<size-table>
  <table class="single">
    <thead>
      <tr>
        <th rowspan="2">AGE</th>
        <th colspan="4" class="unit">CM</th>
        <th colspan="4" class="unit">INCH</th>
      </tr>
      <tr>
        <th class="cm">HEIGHT</th>
        <th class="cm">CHEST</th>
        <th class="cm">WAIST</th>
        <th class="in">HEIGHT</th>
        <th class="in">CHEST</th>
        <th class="in">WAIST</th>
      </tr>
    </thead>
    <tbody class="sizeguide-tbody">
      <tr>
        <td>3-4 yrs</td>
        <td class="cm">98 - 104</td>
        <td class="cm">54 - 56</td>
        <td class="cm">52 - 54</td>
        <td class="in">38 &frac58; - 40 &frac78;</td>
        <td class="in">21 &frac38; - 22 &frac18;</td>
        <td class="in">50 &frac58; - 21 &frac12;</td>
      </tr>
      <tr>
        <td>5-6 yrs</td>
        <td class="cm">110 - 116</td>
        <td class="cm">58 - 60</td>
        <td class="cm">55 - 56</td>
        <td class="in">43 &frac14; - 45 &frac58;</td>
        <td class="in">22 &frac78; - 45 &frac58;</td>
        <td class="in">21 &frac58; - 22</td>
      </tr>
      <tr>
        <td>7-8 yrs</td>
        <td class="cm">122 - 128</td>
        <td class="cm">62 - 66</td>
        <td class="cm">57 - 58</td>
        <td class="in">48 &frac18; - 50 &frac38;</td>
        <td class="in">24 &frac34; - 25 &frac58;</td>
        <td class="in">22 &frac12; - 22 &frac78;</td>
      </tr>
      <tr>
        <td>9-10 yrs</td>
        <td class="cm">134 - 140</td>
        <td class="cm">69 - 72</td>
        <td class="cm">60 - 62</td>
        <td class="in">52 &frac78; - 55 &frac18;</td>
        <td class="in">27 &frac18; - 28 &frac18;</td>
        <td class="in">23 &frac34; - 24 &frac14;</td>
      </tr>
      <tr>
        <td>11-12 yrs</td>
        <td class="cm">146 - 152</td>
        <td class="cm">75 - 78</td>
        <td class="cm">63 - 64</td>
        <td class="in">57 &frac12; - 59 &frac78;</td>
        <td class="in">29 &frac58; - 30 &frac34;</td>
        <td class="in">25 - 25 &frac34;</td>
      </tr>
      <tr>
        <td>13-14 yrs</td>
        <td class="cm">158 - 164</td>
        <td class="cm">83 - 87</td>
        <td class="cm">65 - 67</td>
        <td class="in">62 &frac14; - 64 &frac58;</td>
        <td class="in">32 &frac34; - 34 &frac14;</td>
        <td class="in">25 &frac58; - 26 &frac58;</td>
      </tr>
      <tr>
        <td>15 yrs</td>
        <td class="cm">167</td>
        <td class="cm">90</td>
        <td class="cm">71</td>
        <td class="in">65 &frac78;</td>
        <td class="in">35 &frac12;</td>
        <td class="in">28</td>
      </tr>
    </tbody>
  </table>
</size-table>
