<size-table>
  <table>
    <thead>
      <tr>
        <th rowspan="2">UK</th>
        <th rowspan="2">EU</th>
        <th rowspan="2">US</th>
        <th colspan="2" class="unit">CM</th>
        <th colspan="2" class="unit">INCH</th>
      </tr>
      <tr>
        <th class="cm">CHEST</th>
        <th class="cm">WAIST</th>
        <th class="in">CHEST</th>
        <th class="in">WAIST</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>XS</td>
        <td>44</td>
        <td>34</td>
        <td class="cm">92</td>
        <td class="cm">89</td>
        <td class="in">36</td>
        <td class="in">35</td>
      </tr>
      <tr>
        <td>S</td>
        <td>46</td>
        <td>36</td>
        <td class="cm">97</td>
        <td class="cm">94</td>
        <td class="in">40</td>
        <td class="in">39</td>
      </tr>
      <tr>
        <td>M</td>
        <td>48</td>
        <td>38</td>
        <td class="cm">102</td>
        <td class="cm">99</td>
        <td class="in">40</td>
        <td class="in">39</td>
      </tr>
      <tr>
        <td>L</td>
        <td>50</td>
        <td>40</td>
        <td class="cm">107</td>
        <td class="cm">104</td>
        <td class="in">42</td>
        <td class="in">41</td>
      </tr>
      <tr>
        <td>XL</td>
        <td>52</td>
        <td>42</td>
        <td class="cm">112</td>
        <td class="cm">109</td>
        <td class="in">44</td>
        <td class="in">43</td>
      </tr>
      <tr>
        <td>XXL</td>
        <td>54</td>
        <td>44</td>
        <td class="cm">117</td>
        <td class="cm">122</td>
        <td class="in">49</td>
        <td class="in">48</td>
      </tr>
      <tr>
        <td>XXXL</td>
        <td>56</td>
        <td>46</td>
        <td class="cm">124</td>
        <td class="cm">112</td>
        <td class="in">49</td>
        <td class="in">48</td>
      </tr>
    </tbody>
  </table>
</size-table>
