<size-table>
  <table class="single">
    <thead>
      <tr>
        <th rowspan="2">Leg Lengths</th>
        <th class="unit">CM</th>
        <th class="unit">INCH</th>
      </tr>
      <tr>
        <th colspan="2" class="white">To fit inside leg*</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Petite</td>
        <td class="cm">74</td>
        <td class="in">29</td>
      </tr>
      <tr>
        <td>Regular</td>
        <td class="cm">79</td>
        <td class="in">31</td>
      </tr>
    </tbody>
  </table>
  <small class="center">*length to floor. Actual trouser or legging inside leg length will vary according to style.</small>
</size-table>
