<size-table>
  <table>
    <thead>
      <tr>
        <th rowspan="2">UK</th>
        <th rowspan="2">EU</th>
        <th rowspan="2">US</th>
        <th colspan="2" class="unit">CM</th>
        <th colspan="2" class="unit">INCH</th>
      </tr>
      <tr>
        <th class="cm">BUST</th>
        <th class="cm">WAIST</th>
        <th class="in">BUST</th>
        <th class="in">WAIST</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>6</td>
        <td>34</td>
        <td>4</td>
        <td class="cm">78</td>
        <td class="cm">61.5</td>
        <td class="in">30 &frac34;</td>
        <td class="in">24 &frac14;</td>
      </tr>
      <tr>
        <td>8</td>
        <td>36</td>
        <td>6</td>
        <td class="cm">83</td>
        <td class="cm">66.5</td>
        <td class="in">32 &frac34;</td>
        <td class="in">26 &frac14;</td>
      </tr>
      <tr>
        <td>10</td>
        <td>38</td>
        <td>8</td>
        <td class="cm">88</td>
        <td class="cm">71.5</td>
        <td class="in">34 &frac34;</td>
        <td class="in">28 &frac14;</td>
      </tr>
      <tr>
        <td>12</td>
        <td>40</td>
        <td>10</td>
        <td class="cm">93</td>
        <td class="cm">76.5</td>
        <td class="in">36 &frac12;</td>
        <td class="in">30</td>
      </tr>
      <tr>
        <td>14</td>
        <td>42</td>
        <td>12</td>
        <td class="cm">97</td>
        <td class="cm">81.5</td>
        <td class="in">38 &frac34;</td>
        <td class="in">32</td>
      </tr>
      <tr>
        <td>16</td>
        <td>44</td>
        <td>14</td>
        <td class="cm">102</td>
        <td class="cm">86.5</td>
        <td class="in">40 &frac14;</td>
        <td class="in">34</td>
      </tr>
      <tr>
        <td>18</td>
        <td>46</td>
        <td>16</td>
        <td class="cm">108</td>
        <td class="cm">92.5</td>
        <td class="in">42 &frac12;</td>
        <td class="in">36 &frac12;</td>
      </tr>
      <tr>
        <td>20</td>
        <td>48</td>
        <td>18</td>
        <td class="cm">114</td>
        <td class="cm">98.5</td>
        <td class="in">45</td>
        <td class="in">38 &frac34;</td>
      </tr>
    </tbody>
  </table>
</size-table>