<size-table>
  <table class="single">
    <thead>
      <tr>
        <th rowspan="2">Age</th>
        <th colspan="2" class="unit">CM</th>
      </tr>
      <tr>
        <th class="cm">HEIGHT</th>
        <th class="cm">WAIST</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>7/8yrs</td>
        <td class="cm">122 - 128</td>
        <td class="cm">57 - 59</td>
      </tr>
      <tr>
        <td>9/10yrs</td>
        <td class="cm">134 - 140</td>
        <td class="cm">60 - 62</td>
      </tr>
      <tr>
        <td>11/12yrs</td>
        <td class="cm">146 - 152</td>
        <td class="cm">63 - 64</td>
      </tr>
      <tr>
        <td>13/14yrs</td>
        <td class="cm">158 - 164</td>
        <td class="cm">65 - 67</td>
      </tr>
      <tr>
        <td>15yrs</td>
        <td class="cm">167</td>
        <td class="cm">71</td>
      </tr>
    </tbody>
  </table>
</size-table>
