<size-table>
  <table>
    <thead>
      <tr>
        <th rowspan="2">UK</th>
        <th rowspan="2">EU</th>
        <th rowspan="2">US</th>
        <th colspan="2" class="unit">CM</th>
        <th colspan="2" class="unit">INCH</th>
      </tr>
      <tr>
        <th class="cm">BUST</th>
        <th class="cm">WAIST</th>
        <th class="in">BUST</th>
        <th class="in">WAIST</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>6-8</td>
        <td>34-36</td>
        <td>2-4</td>
        <td class="cm">78-83</td>
        <td class="cm">61.5-66.5</td>
        <td class="in">30 &frac34; - 32 &frac34;</td>
        <td class="in">24 &frac34; - 26 &frac34;</td>
      </tr>
      <tr>
        <td>10-12</td>
        <td>38-40</td>
        <td>6-8</td>
        <td class="cm">88-93</td>
        <td class="cm">71.5-76.5</td>
        <td class="in">34 &frac34; - 36 &frac34;</td>
        <td class="in">28 &frac34; - 30</td>
      </tr>
      <tr>
        <td>14-16</td>
        <td>42-44</td>
        <td>10-12</td>
        <td class="cm">97-102</td>
        <td class="cm">81.5-86.5</td>
        <td class="in">38 &frac34; - 40 &frac34;</td>
        <td class="in">32 - 34</td>
      </tr>
    </tbody>
  </table>
</size-table>