<div class="accent-bg">
  <h4>How To Measure</h4>

  <div class="measurements-guide">
    <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/size-guide_womens.png?v=1756990359" height="365" width="120" alt="" style="object-fit:contain;max-width:120px;margin: 0 auto;">
    <ul class="measurements-guide--info rtf">
      <li>
        <h4>1 - Bust</h4>
        <p>Measure under the arms at the fullest point around the bust horizontally.</p>
      </li>

      <li>
        <h4>2 - Waist</h4>
        <p>Measure around your natural waistline.</p>
      </li>

      <li>
        <h4>3 - Hips</h4>
        <p>With feet together measure the fullest part.</p>
      </li>

      <li>
        <h4>4 - Inside Leg</h4>
        <p>
          Measure from top of inside leg at the crotch to the floor<br>
          (Actual trouser or legging length will vary according to style).
        </p>
      </li>
    </ul>
  </div>
</div>