<table>
  <thead>
    <tr>
      <th>Size</th>
      <th>UK Shoe</th>
      <th>EU Shoe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>S/M</td>
      <td>3 - 7</td>
      <td>36 - 41</td>
    </tr>
    <tr>
      <td>L/XL</td>
      <td>8 - 11</td>
      <td>41 - 46</td>
    </tr>
  </tbody>
</table>
