{% assign locale_uk = false %}
{% if request.locale.iso_code == 'en' %}
  {% assign locale_uk = true %}
{% endif %}

<div class="max-width">
  <div class="cart">
    <div class="cart-title">
      <h1>Your Bag</h1>
      {% if cart.item_count > 0 %}
        <a href="/checkout" class="checkout-button button button-primary"
          >Checkout - <span class="cart-total">{{ cart.total_price | money_without_trailing_zeros -}}</span>
        </a>
      {% endif %}
    </div>

    {% if cart.item_count == 0 %}
      <p class="center">Your Shopping Bag is empty.</p>
    {% else %}
      <div class="cart-header">
        <div>Product</div>
        <div>Quantity</div>
        <div>Total</div>
      </div>
      {% render 'cart-items' %}
      <div class="cart-footer">
        {% if locale_uk == false %}
          {% render 'free-delivery-information' %}
        {% endif %}
        <a href="/checkout" class="checkout-button button button-primary"
          >Checkout - <span class="cart-total">{{ cart.total_price | money_without_trailing_zeros -}}</span>
        </a>
        {% render 'payment-icons' %}
      </div>
    {% endif %}
  </div>

  {% unless locale_uk == false %}
    {% render 'delivery-estimator' %}
  {% endunless %}

  {% render 'cart-upsells' %}
  {% comment %} {% render 'trust-widget' with 'micro' %} {% endcomment %}
</div>

<div class="accent-bg">
  <div class="max-width">
    <h3 class="h4 no-block-margin" style="margin-top: 4rem">Forgotten something?</h3>
    {% render 'dead-end' %}
  </div>
</div>

<link rel="stylesheet" href="{{ 'cart.min.css' | asset_url }}">
{% schema %}
{
  "name": "Main Cart",
  "class": "section--cart_content",
  "limit": 1,
  "settings": []
}
{% endschema %}
