<link rel="stylesheet" href="{{ 'cart.min.css' | asset_url }}">

<div class="cart-title">
  <h1>Your Bag</h1>
  {% if cart.item_count > 0 %}
    <a href="/checkout" class="checkout-button button button-primary"
      >Checkout - <span class="cart-total">{{ cart.total_price | money_without_trailing_zeros -}}</span>
    </a>
  {% endif %}
</div>

{% if cart.item_count == 0 %}
  <p class="center">Your Shopping Bag is empty.</p>
{% else %}
  <div class="cart-header">
    <div>Product</div>
    <div>Quantity</div>
    <div>Total</div>
  </div>
  {% render 'cart-items' %}
  <div class="cart-footer">
    <a href="/checkout" class="checkout-button button button-primary"
      >Checkout - <span class="cart-total">{{ cart.total_price | money_without_trailing_zeros -}}</span>
    </a>
  </div>
{% endif %}
{% render 'payment-icons' %}
{% render 'trust-widget' with 'micro' %}

{% schema %}
{
  "name": "Main Cart",
  "class": "max-width section--cart_content",
  "limit": 1,
  "settings": []
}
{% endschema %}
