{% if collection.products_count > 0 %}
  {%- paginate collection.products by 22 -%}
    {% render 'product-grid-filters' with collection as group %}

    {% if paginate.previous %}
      <previous-nav class="previousNav grid-nav max-width accent-bg" id="pagination-prev">
        <a href="{{ paginate.previous.url }}" id="previous-page">{% render 'icon', icon: 'arrow', class: 'rotate180' %} Previous Page</a>
        {% if paginate.current_page > 2 %}
          <a href="{{ paginate.parts[0].url }}" id="first-page">First Page{% render 'icon', icon: 'arrow', class: 'rotate-90' %}</a>
        {% endif %}
      </previous-nav>
    {% endif %}

    {% render 'product-grid' with collection.products as product_list, page: paginate.current_page, nexturl: paginate.next.url, pages: paginate.pages %}

    {% if paginate.next.is_link %}
      <div class="grid-nav accent-bg max-width" id="pagination-next">
        <a id="infinite-trigger" href="{{ paginate.next.url }}"
          ><span class="inline-flex">Next Page {% render 'icon', icon: 'arrow' %}</span>
          <div class="loader" style="--height:1.1rem;"></div>
        </a>
      </div>
    {% else %}
      <div class="grid-nav accent-bg max-width" id="pagination-next" id="pagination-next">
        <a id="back-to-top" href="#">Back to Top{% render 'icon', icon: 'arrow', class: 'rotate-90' %}</a>
      </div>
    {% endif %}
  {%- endpaginate -%}
{% else %}
  <div class="max-width" style="padding:2rem 0;">
    {% render 'ometria-form', pageSubtitle: "This Collection is temporarily Out of Stock", CTAtxt: "Check back soon for new arrivals or sign up for a restock notification." %}
    <br>
  </div>
  <hr>
  <h2 style="margin-top:4rem;" class="h3 emphasis">Continue Shopping</h2>
    {% render 'dead-end' %}
{% endif %}

{% schema %}
{
  "name": "Collection Main",
  "class": "section--collection-grid",
  "settings": []
}
{% endschema %}
