{% if section.settings.openFirst %}
  <h1>{{ page.title }}</h1>
{% endif %}

<content-accordian>
  {% for block in section.blocks %}
    <div class="accordian-items">
      <div class="accordian-header accent-bg {% if forloop.first and section.settings.openFirst %}active{% endif %}">{{ block.settings.title }}</div>
      <div class="accordian-content rtf">
        {{ block.settings.htmlContent }}
        {{ block.settings.content }}
      </div>
    </div>
  {% endfor %}
</content-accordian>

<style>
  .accordian-header {
    padding: 0.5rem 1rem;
    margin-block: 0.25rem;
  }

  .accordian-content p:first-child {
    margin-top: 1rem;
  }
</style>

{% schema %}
{
  "name": "Content Accordian",
  "class": "section--content-accordian max-width",
  "settings": [
    {
      "type": "checkbox",
      "id": "openFirst",
      "label": "Open first item by default?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "showTitle",
      "label": "Show Title?",
      "default": true
    }
  ],
  "max_blocks": 20,
  "blocks": [
    {
      "name": "Panel",
      "type": "card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Section Title"
        },
        {
          "type": "html",
          "id": "htmlContent",
          "label": "Custom HTML Content"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Section Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordian",
      "category": "Content",
      "blocks": {
        "card_XmEykt": {
          "type": "card",
          "settings": {
            "title": "Title 1",
            "htmlContent": "",
            "content": "<p>Cupidatat minim ipsum sint exercitation ullamco proident amet quis. Dolor aute consequat nostrud esse pariatur quis irure. Amet mollit laborum nulla culpa quis. Ea sunt amet dolor esse cillum aliqua amet adipisicing. Veniam labore laborum aute aute quis qui anim. Consectetur duis culpa cupidatat amet voluptate labore mollit adipisicing qui.</p>"
          }
        },
        "card_gBjepD": {
          "type": "card",
          "settings": {
            "title": "Title 2",
            "htmlContent": "",
            "content": "<p>Cupidatat minim ipsum sint exercitation ullamco proident amet quis. Dolor aute consequat nostrud esse pariatur quis irure. Amet mollit laborum nulla culpa quis. Ea sunt amet dolor esse cillum aliqua amet adipisicing. Veniam labore laborum aute aute quis qui anim. Consectetur duis culpa cupidatat amet voluptate labore mollit adipisicing qui.</p>"
          }
        }
      },
      "block_order": ["card_XmEykt", "card_gBjepD"]
    }
  ]
}
{% endschema %}
