<slide-drawer aria-hidden="true" id="cartDrawer" data-side="right">
  <div class="side_menu-header">
    <a href="{{ routes.cart_url }}" class="side_menu-header-item active" id='side_menu-cart'>Your Bag</a>
    <span class="side_menu-header-item" id='side_menu-recents'> Recently Viewed</span>
  </div>

  {% render 'cart-items' %}

  {% if cart.item_count > 0 %}
    <div class="side_menu-footer">
    <a href="/checkout" class="checkout-button button button-primary"
      >Checkout - <span class="cart-total">{{ cart.total_price | money_without_trailing_zeros -}}</span>
    </a>
  </div>
{% endif %}
</slide-drawer>

{% schema %}
{
  "name": "Cart Drawer",
  "class": "section--cart_drawer",
  "limit": 1,
  "settings": []
}
{% endschema %}
