<button id="mens_gender-switch" data-gender="mens" class="gender-btn" aria-expanded="false" aria-pressed="true">MENS</button>
<button id="womens_gender-switch" data-gender="womens" class="gender-btn" aria-expanded="false" aria-pressed="false">WOMENS</button>
{% if section.settings.showKids %}
  <button id="kids_gender-switch" data-gender="kids" class="gender-btn" aria-expanded="false" aria-pressed="false">KIDS</button>
{% endif %}

<link rel="stylesheet" href="{{ 'gender-selector.min.css' | asset_url }}">
<script src="{{ 'gender-selector.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Gender Selector",
  "class": "section-gender-switch entry-animation",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "default": false,
      "id": "showKids",
      "label": "Show Kids Option?"
    }
  ],
  "presets": [
    {
      "name": "Gender Selector",
      "category": "Gender Specific"
    }
  ]
}
{% endschema %}
