<div class="limited-w v-margin">test</div>

{% schema %}
{
  "name": "Slideshow",
  "class": "shopify-section--hero-carousel",
  "max_blocks": 9,
  "settings": [],
  "blocks": [],
  "presets": [
     {
      "category": "Carousel",
      "name": "Hero Slideshow",
      "settings": {},
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
