<h1>{{ page.title }}</h1>
<div class="rtf">{{ page.content }}</div>

{% schema %}
  {
    "name": "Page Main",
    "class": "section--page-main max-width",
    "settings": [

    ]
  }
{% endschema %}
