<link rel="stylesheet" href="{{ 'size-guide.min.css' | asset_url }}">
<div class="mens-gender-filter fade-in max-width">
  {% render 'size-guide-m-cwhl' %}
  {% render 'size-guide-m-measurements' %}
</div>

<div class="womens-gender-filter fade-in max-width">
  <h3>Single Sizing</h3>
  {% render 'size-guide-w-bwh' %}
  <h3>Dual Sizing</h3>
  {% render 'size-guide-w-bwh-dual' %}
  {% render 'size-guide-w-l' %}
  {% render 'size-guide-w-measurements' %}
</div>

<div class="kids-gender-filter fade-in max-width">
  <h3>Boys</h3>
  {% render 'size-guide-b-cwlh' %}
  <hr>
  <h3>Girls</h3>
  {% render 'size-guide-g-cwlh' %}
  {% render 'size-guide-k-measurements' %}
</div>



{% schema %}
{
  "name": "Size Guide Main Content",
  "class": "section-size-guide-main max-width",
  "limit": 1
}
{% endschema %}
