.advent-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 0 0 2rem 0;
}

.advent-grid--item {
  aspect-ratio: 2;
  background: var(--c-off-white);
  display: grid;
  place-content: stretch;
  overflow: hidden;
  box-shadow: inset 0 0 50px -25px black;
  cursor: pointer;

  & p,
  &::before {
    grid-area: 1 / 1;
    place-content: center;
    text-align: center;
    padding: 0 25px;
  }

  &::before {
    content: attr(cover);
    display: grid;
    transform-origin: left;
    transition: all 0.25s var(--bezier);
    background-color: var(--c-black);
    color: #F6DA9E;
    mask-image: radial-gradient(circle at 100% center, transparent 15px, #1b1b1b 16px);
    font-family: var(--emphasis-heading-font-family);
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    font-size: 1.5rem;
    box-shadow: 0 0 5px black;
  }

&:not(.active):hover::before {
  animation: open 0.2s var(--bezier) forwards;
}
&.active::before {
    transform: translateX(-90%);
  }
}
@keyframes open {

  0% {
    translate: 0 0;
  }

60% {
  translate: -8% 0;
}

100% {
  translate: -5% 0;
}

}