.trending-color-grid {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 2rem
}

.trending-color-card {
  background-color: #d3d3d3;
  flex: 1 1 275px;
  height: max(30vh, 400px) !important;
  min-height: 15rem;
  overflow: hidden;
  position: relative;
  display: none;
}
.trending-color-card.fade-in.active {
  display: grid;
}

.trending-color-card p {
  margin: 0 0 1rem
}

.trending-color-card img {
  height: max(30vh, 400px);
    width: min(100%, 90vw);
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  scale: 1.2;
    transition: scale 20s ease-out;
}

.trending-color-card img,
.trending-color-card--content{
  grid-area: 1 / 1;
}

.trending-color-card:hover img {
  scale: 1
}

.trending-color-card--content {
  padding: 1rem;
  position: absolute;
  background: #fff;
    width: 100%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
    
      &:has(>h4) {
      bottom: 5%;
      align-items: flex-start;
        right: 0;
      width: 70%;
      }
}

.trending-color-card--content a {
  display: block;
  max-width: 100%;
  width: -moz-max-content;
  width: max-content
}
.trending-color-ctas {
  margin: 0 auto;
  padding-bottom: 4rem;
  display: grid;
  justify-content: center;

  &>* {
    grid-area: 1 / 1;

  }
}