 .cart-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .cart {
   max-width: 800px;
   margin: 0 auto
 }

 .dead-end {
   margin-top: 0;
 }

 .usp {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   border: 1px solid var(--c-light-grey);
   padding: 3rem;
   align-items: center;
   margin-block: 4rem;

   &>* {
     flex: 0 1 100%
   }

 }

 @media (min-width: 600px) {
   .usp>* {
     flex: 0 1 45%;
   }
 }

 .cart-header,
 .cart-footer {
   display: grid;
   grid-template-columns: 200px 3fr 2fr 1fr;
   gap: 10px;
   border-bottom: 1px solid var(--c-grey);
   padding-bottom: 10px;

   &>div:first-child {
     grid-area: 1 / 1 / 2 / 3;
   }

   &>div:last-child {
     text-align: right;
     display: none;
   }

   &>div:nth-child(2) {
     text-align: center;
     display: none;
   }
 }

 ul.cart_items-list {
   margin-bottom: 0;
 }

 .cart-footer {
   border: 0;
   gap: 0;
   grid-template-columns: 1fr;
   display: flex;
   justify-content: flex-end;
   flex-flow: column nowrap;

   & .checkout-button {
     font-size: var(--txt-h4);
     font-weight: 700;
     width: 100%;
   }

   & .free-delivery_text {
     text-align: right;
     margin-bottom: 1rem;
   }

   & .free-delivery_status-bar {
     display: none;
   }
 }

 .cart-upsells {
   padding: 0;
   margin-bottom: 2rem;

   & .Title {
     display: block;
   }
 }

 .cart-upsells--carousel product-card {
   width: 45%
 }

 @media screen and (width > 500px) {
   .cart-upsells--carousel product-card .Title {
     opacity: 1;
     display: block;
     height: auto;
   }

   .cart-upsells--carousel product-card {
     width: 30%;
   }

   .cart-upsells .Price--wrapper {
     position: relative;
     top: 0%;
     translate: 0 0;
   }

   .cart-header>div:last-child {
     display: block;
     grid-area: 1 / 4 / 2 / 5;
   }
 }

 @media screen and (width > 768px) {
   .cart-header>div:nth-child(2) {
     display: block;
   }
 }

 .payment-icons {
   margin: 1rem 0;
 }