.roundel {
  width: min(25vw, 80px);
  display: block;
}

.form-wrapper {
  display: grid;
}

form.new-address_form,
form.address-form {
  width: min(100%, 750px);
  margin: 0;
  overflow: hidden;
  min-height: 0;
  height: auto;
}

address-form {
  gap: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  &:not(.active) {
    height: 0;
    opacity: 0;
    transition: height, margin 0.15s var(--bezier);
    visibility: hidden;
  }
}

li address-form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  translate: -50% -50%;
  background: white;
  width: min(400px, 90vw);
  padding: 2em;
  border: 1px solid var(--c-light-grey);
  max-height: 80vh;
  overflow-y: auto;
}

.form--active {
  margin: 20px 0;
}

.new-address--buttons {
  display: grid;
  grid-template-columns: 4fr 1fr;

  & .button-secondary {
    padding: 0;
    width: 100%;
    height: 100%;
    place-content: center;
    display: grid;
    align-content: center;
  }
}

ul.account-links{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  justify-content: start;

  & li {
    border: 1px solid var(--c-grey);
    text-align: center;
    cursor: pointer;

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      padding: 1em;
      width: 100%;
      height: 100%;
      text-transform: none;
      font-weight: 400;
      letter-spacing: normal;

      & svg {
        height: 1.5rem;
      }
    }
  }
}

.account-details {
  border-top: 1px solid var(--c-light-grey);
  margin-top: 2em;
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

ul.address-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3em;

  & li {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.formatted-address {
  margin-bottom: 2em;
}

.address_actions {
  margin: auto 0 0;
}

@media screen and (min-width: 768px) {
  .roundel {
    margin: 12vh auto 0;
  }

  .customer-form {
    min-height: 15vh;
    text-align: center;
    margin-bottom: 15vh;
  }
}