.roundel {
  width: min(25vw, 80px);
  display: block;
}

.form-wrapper {
  display: grid;
}

form.new-address_form,
form.address-form {
  width: min(100%, 750px);
  margin: 0;
  overflow: hidden;
  min-height: 0;
  height: auto;
}

address-form {
  gap: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  &:not(.active) {
    height: 0;
    opacity: 0;
    transition: height, margin 0.15s var(--bezier);
    visibility: hidden;
  }
}

li address-form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  translate: -50% -50%;
  background: white;
  width: min(400px, 90vw);
  padding: 2em;
  border: 1px solid var(--c-light-grey);
  max-height: 80vh;
  overflow-y: auto;
}

.form--active {
  margin: 20px 0;
}

.customer-form {
  grid-area: 1 / 1;
  width: min(100%, 400px);
  margin: 0 auto;

  & .warning {
    margin-bottom: 1em;
    padding: 1em;
  }

  & p {
    margin-top: 1em;
  }

  & a {
    text-decoration: underline;
  }

  & input:not([type="checkbox"]),
  & select {
    width: 100%;
    padding: 1em 2em;

    &::placeholder {
      color: var(--c-black);
      letter-spacing: 0.1ch;
    }
  }

  & .checkbox-label {
    margin-bottom: 1em;
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    width: 100%;
  }

  & button {
    margin: 0 auto;
    display: block;
  }

  .span-2 {
    grid-column: 1 / -1;

    & input {
      width: 100%;
    }
  }

  .new-address--buttons {
    display: grid;
    grid-template-columns: 4fr 1fr;

    & .button-secondary {
      padding: 0;
      width: 100%;
      height: 100%;
      place-content: center;
      display: grid;
      align-content: center;
    }
  }

  .Form__Item {
    margin: 0 auto 1.5em;
    position: relative;
    width: 100%;

    & .Form__Input:not(:placeholder-shown)~label {
      opacity: 1;
      translate: 0 -50%;
    }

    & label {
      position: absolute;
      top: 0;
      left: 5%;
      font-size: 12px;
      padding: 5px;
      background-color: var(--c-white);
      translate: 0 0;
      transition: all 0.15s var(--bezier);
      opacity: 0;
      pointer-events: none;
    }

    & a {
      position: absolute;
      right: 5%;
      top: 50%;
      translate: 0 -50%;
      text-decoration: none;
    }
  }
}

h2.h4 {
  color: var(--c-black);
}

ul.account-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));

  & li {
    border: 1px solid var(--c-grey);
    text-align: center;
    cursor: pointer;

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      padding: 1em;
      width: 100%;
      height: 100%;
      text-transform: none;
      font-weight: 400;
      letter-spacing: normal;

      & svg {
        height: 1.5rem;
      }
    }
  }
}

.account-details {
  border-top: 1px solid var(--c-light-grey);
  margin-top: 2em;
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

#order-history {
  flex: 1 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--c-grey)
}

thead {
  background-color: var(--c-off-white);
  border-block: 1px solid var(--c-grey);

  & th {
    border-right: 1px solid var(--c-light-grey);
    padding: 1em .75em;
    border-bottom: 1px solid var(--c-grey);

    &:last-child {
      border-right: none;
    }
  }
}

tbody {
  background-color: var(--c-off-white);

  & td {
    border-right: 1px solid var(--c-light-grey);
    border-top: 1px solid var(--c-light-grey);
    padding: 1em 0.5em;

    &:last-child {
      border-right: none;
    }

    &:nth-child(odd) {
      background-color: white;
    }
  }
}

ul.address-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3em;

  & li {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.formatted-address {
  margin-bottom: 2em;
}

.address_actions {
  margin: auto 0 0;
}

@media screen and (min-width: 768px) {
  .roundel {
    margin: 12vh auto 0;
  }

  .customer-form {
    min-height: 15vh;
    text-align: center;
    margin-bottom: 15vh;
  }
}