.splide {
    visibility: visible;
}

.splide__list {
    overflow-x: scroll;
    scroll-snap-align: center;
    scrollbar-width: none;
}

.fade-in {
    opacity: 1;
    visibility: visible;
}

.grid-loader,
.mqatb-show {
    display: none;
    height: 0;
    opacity: 0;
}

.pdp-carousels-wrapper {
    & .iWish-btn {
        display: none;
    }
}

.pdp-zoom-btn.round-btn {
    top: 2em;
}

#completethelook--mobile .product-options {
    display: none;
}

.filter-apply {
    display: block;
    margin: 0 auto;
}

.collection-blurb {
    height: auto !important;

    &::after {
        display: none !important;
    }
}

.accordian-content {
    height: fit-content;
    padding-block: 15px;
}


/* login form css fallback for forgotten password */
:target#recover~#recover-pane {
    display: block;
}

:target#recover~#login-pane {
    display: none;
}

:target#login~#login-pane {
    display: block;
}