/* GLOBAL  */

hmtl>body.no-scroll {
    overflow: hidden;
}

@view-transition {
    navigation: auto;
}


/* ::view-transition-group(root) {
    animation-duration: 5s;
}

 ::view-transition-old(root) {
    animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
    animation: 0.4s ease-in both move-in;
}

@keyframes move-out {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

@keyframes move-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}
*/


*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar {
    border-radius: 0;
}

[hidden] {
    display: none !important;
    opacity: 0 !important;
    transform: scale(0) !important;
}

[visible],
.visible {
    visibility: visible !important;
    opacity: 1 !important;
    transform: scale(1) !important;
    height: auto !important;
}

.max-width {
    width: min(90vw, 1270px);
    padding: 1em 0 0;
    margin: 0 auto;
}

.inline-flex {
    display: inline-flex;
    gap: 0.5em;
    align-items: center;
}

.round,
.square {
    aspect-ratio: 1 / 1;
}

.round {
    border-radius: 50%;
}

input[type="checkbox"] {
    accent-color: var(--c-black);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: .5em;
    -webkit-text-fill-color: var(--c-black);
    background-repeat: no-repeat;
    background-position: right 0.65rem center;
    background-size: 1.1em auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4 6 L8 2 L12 6 Z' fill='currentColor'/%3E%3Cpath d='M4 10 L8 14 L12 10 Z' fill='currentColor'/%3E%3C/svg%3E");
}

select,
input:not([type=checkbox]) {
    border-radius: 0;
    padding: 0.5em 0.8em;
    border: 1px solid var(--c-grey);
    width: min(100%, 400px);
}

input[type=range] {
    padding: 0
}

.splide__decal {
    display: none;
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: 1;
    width: 33%;
}

.splide {
    display: block;
    width: 100%;
    margin: 0 auto;

    &.is-initialized .splide__decal {
        display: block;
    }

    &.no-carousel {
        visibility: visible;
        display: flex;

        & .splide__slide--clone {
            display: none;
        }

        & .splide__list {
            display: flex !important;
            transform: translateX(0) !important;
            justify-content: center;
            gap: 1em;
        }
    }
}

.splide__slide {
    border-radius: var(--radius);
    overflow: hidden;
}

.splide__slide img {
    object-position: top;
}

.splide__pagination {
    margin: 1rem 0;
}

button.splide__pagination__page {
    height: .75rem;
    padding: 0;
    width: 0.75rem;
    background-color: var(--c-grey);
    border-radius: 50%;
    margin: 0.75rem auto;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: var(--c-dark-grey);
    }

    &[aria-selected] {
        background-color: var(--c-light-grey);

    }
}

productcard-carousel {
    margin: 0 auto;
    display: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 350px));
    width: 90vw;
    max-width: var(--max-width);

    &.no-carousel {
        & .splide__list {
            transform: translateX(0) !important;
            justify-content: center;
        }

        & .splide__slide:not(.is-active) {
            scale: 1;
        }
    }
}

productcard-carousel .splide__arrows {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 6px;
}

productcard-carousel .splide__arrow {
    display: grid;
    fill: var(--c-grey);
    transition: fill 0.2s ease;

    &:hover {
        fill: var(--c-dark-grey);
    }

    & svg {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 800px) {
    productcard-carousel .splide__slide {
        scale: 1;
        transition: scale 0.3s var(--bezier);

        &:not(.is-active) {
            scale: 0.9;
        }

        /* &:has(+ .is-active),
      &.is-active + .splide__slide {
        scale: 0.95;
      } */
    }
}

.product-grid:not(.splide) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    margin: 0 auto;
    column-gap: 10px;
}

.visually-hidden {
    overflow: hidden;
    position: absolute !important;
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    padding: 0;
    width: 1px;
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate45 {
    transform: rotate(45deg);
}

.rotate-90 {
    transform: rotate(-90deg);
}

.rotate135 {
    transform: rotate(-135deg);
}

.rotate405 {
    transform: rotate(405deg);
}

svg {
    pointer-events: none;
    transition: color 0.2s ease, fill 0.2s ease;
}

*:hover>svg.Icon--trash {
    color: var(--c-error);
}

page-overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: brightness(0.75) blur(2px);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity .15s, visibility .15s
}

body.no-scroll page-overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.drawer {
    z-index: 11;
}

.accent-bg {
    background-color: var(--c-off-white);
    color: var(--c-dark-grey);
    padding: 1em;
    margin-block: 1em;
    border-radius: var(--radius);

    & a:not[class|='button'],
    & .a:not[class|='button'] {
        color: var(--c-dark-grey);
    }
}

.no-scroll {
    overflow: hidden;
}

.mob-hide {
    display: none;
    visibility: hidden;
}

.Icon {
    height: 100%;
}

.close-icon {
    rotate: -45deg;
}


.fade-out,
.fade-in {
    opacity: 0;
    position: relative;
    transform: translateY(100px);
    pointer-events: none;
    visibility: hidden;
}

.fade-out {
    height: 0;
    transform: translateY(-100%);
    padding: 0;
    margin: 0;
    transition: all 0.4s var(--bezier);
}

.splide__slide.is-active .fade-in,
.fade-in.active {
    transition: all 0.4s var(--bezier);
    opacity: 1;
    transform: translateY(0);
    height: auto;
    pointer-events: all;
    visibility: visible;
}

.no-height {
    height: 0;
}


.loader {
    --height: 25px;
    animation: loadfade 1.2s linear infinite;
    animation-delay: .3s;
    background-color: var(--accent-background);
    height: min(50%, 25px);
    margin: 0 auto;
    position: relative;
    width: 8.33333px;
    z-index: -1;
    mix-blend-mode: multiply;
}

.loader,
.loader:after,
.loader:before {
    box-shadow: inset 0 0 2px 0 var(--c-black);
    display: block;
    height: var(--height);
    width: calc(var(--height)/3)
}

.loader:after,
.loader:before {
    animation: loadfade 1.2s linear infinite;
    animation-delay: .6s;
    background: var(--accent-background);
    content: "";
    left: calc(var(--height)/2);
    position: absolute
}

.loader:before {
    animation-delay: 0s;
    left: auto;
    right: calc(var(--height)/2)
}

.grid-loader {
    grid-area: 1 / 1;
    opacity: 0.8;
    transition: opacity 0.15s ease;
}

.inverted {
    filter: invert(1)
}

@keyframes loadfade {
    0% {
        background-color: var(--c-black);
        box-shadow: inset 0 0 2px 0 var(--c-black), 0 0 5px 0 #ccc
    }

    66% {
        background-color: var(--c-off-white);
        box-shadow: inset 0 0 2px 0 grey
    }

    to {
        background-color: #fff;
        box-shadow: inset 0 0 2px 0 grey
    }
}

button {
    margin: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}


.buttons-group {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.button {
    text-transform: uppercase;
    text-decoration: none !important;
    letter-spacing: var(--letter-spacing);
    padding: 0.75rem 1.5rem 0.55rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
    gap: 0.15rem;
    justify-content: center;
    width: max-content;
    scale: 1;
    transition: scale 0.15s ease;
    border-radius: var(--radius);

    &:hover {
        scale: 1.02;
        }

    &:active {
        scale: 0.95;
    }
}

.button-full {
    width: min(100%, 500px);
}

.button-primary,
.button-secondary,
.button-inverted {
    --btn-color: var(--c-black);
    --btn-bg: var(--c-black);
    background-color: transparent;
    color: var(--c-white);
    border: 1px solid var(--btn-bg);
    cursor: pointer;
    position: relative;
    overflow-y: hidden;
    font-weight: 700;

    &::before {
        background-color: var(--btn-bg);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }

    &::after {
        background-color: color-mix(in lab, var(--btn-bg), white 20%);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        transition: top .1s ease-out;
    }

    &:hover {
        color: var(--c-white);

        &::after {
            top: 0;
        }
    }
}

.button-secondary {
    --btn-color: var(--c-black);
    --btn-bg: transparent;
    background-color: var(--btn-bg);
    color: var(--c-black);
    border: 1px solid var(--c-black);

    &:hover {
        color: var(--c-black);
    }

    &::before {
        background-color: var(--btn-bg);
    }

    &::after {
        background-color: var(--btn-color);
        opacity: 0.2;
    }
}

.button-inverted {
    color: var(--c-black);
    border: none;

    &:hover {
        color: var(--c-black);
    }

    &::before {
        background-color: var(--c-white);
    }

    &::after {
        background-color: var(--c-light-grey);
    }
}

.BIS_trigger {
    font-size: calc(var(--txt-sm) * 0.9);
    margin: 15px auto 0;
    max-width: 90%;
    padding: 5px 10px;

}

.round-btn {
    border-radius: 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    backdrop-filter: blur(3px);
    background: color-mix(in lab, var(--c-white), transparent 70%);
    box-shadow: 0 0 4px var(--c-shadow);
    cursor: pointer;
    scale: 1;
        transition: scale 0.15s var(--bezier);

    & svg {
        /* overwriting 3rd party css */
        width: 15px;
        height: 15px;
        margin-top: 0;
    }
&:hover {
    scale: 1.1;
}
}

.iWishAdd svg {
    width: 15px !important;
    height: 15px !important;
}

.iWishAdd span {
    display: none;
}

/* GLOBAL DESKTOP  */

@media screen and (width > 768px) {
    .mob-only {
        display: none !important;
        visibility: hidden !important;
    }

    .mob-hide {
        display: inherit;
        visibility: visible;
    }

}

.img-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    border-radius: var(--radius);

    & img,
    & a {
        inset: 0;
    }

    & img {
        display: block;
        object-position: center;
        scale: 1;
        transition: scale 10s linear;
        width: 100%;
        height: 100%;

        &:nth-child(n + 2) {
            position: absolute;
        }
    }

    & a {
        display: grid;
        position: absolute;
        align-content: center;
        text-align: center;
        font-family: var(--emphasis-heading-font-family);
        font-size: var(--txt-h1);
        text-transform: uppercase;
        color: var(--c-white);
        text-shadow: 0 0 3px var(--c-dark-grey);
        --webkit-text-stroke: 1px dimgray;
        transition: font-size 0.2s ease, text-shadow 0.2s ease;
    }

    &:hover {
        & img {
            scale: 1.2;
            filter: brightness(1.1);
        }

        & a {
            font-size: calc(var(--txt-h1) * 1.1);
            text-shadow: 0 0 5px var(--c-dark-grey);

        }
    }
}

/* SEARCH  */

input {
    &:focus {
        outline: none;
    }

    &::-webkit-search-cancel-button {
        display: none;
    }
}

predictive-search {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    min-height: 50px;
    max-height: calc(95dvh - 50px);
    overflow: hidden;
    top: -1px;
    opacity: 0;
    visibility: hidden;
    background-color: var(--c-white);
    z-index: -1;
    transition: top .2s var(--bezier), opacity .2s ease;

    &[aria-hidden="false"] {
        opacity: 1;
        top: 50px;
    }

    &:focus {
        outline: none;
    }
}

#search_form,
#search_page-form {
    display: flex;
    justify-content: center;
    margin: 1.5em auto;
    gap: 1em;
    padding: 0;
    max-width: 90vw;

    & .search_form-close,
    & .search_form-terms-input {
        margin: 0 0 0 auto
    }

    & .search_form-terms-input {
        flex: 1 0 auto;
        width: 20ch;
        max-width: 800px;
        border: none;
        border-bottom: 1px solid var(--c-black);
        font-size: var(--txt-h4);
        padding: 0.5em;
        background-color: transparent;

        &:focus::placeholder {
            opacity: 0.2;
        }
    }

    & button {
        display: grid;
        place-content: center;
        margin: 0;

        & svg {
            max-height: 20px;
        }
    }
}

.predictive-search--results {
    flex: 1 1 auto;
    overflow: auto;

    & .predictive_search-terms {
        display: flex;
        place-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 0 9px;
        column-gap: 0.5em;

        & p {
            flex: 0 0 max-content;
        }
    }

    & .predictive_search-terms-list {
        margin-top: 0;
        flex-wrap: wrap;
        scrollbar-width: none;
        margin: 0;
        justify-content: normal;
        gap: 0.5em;

        & li {
            flex: 0 0 max-content;
            display: grid;
            place-content: center;
        }

        & a {
            padding: 0.5em 1em;
            border-radius: 15px;
            background-color: var(--c-off-white);
        }
    }



    & .predictive_search-heading {
        grid-column: 1 / -1;
        background-color: var(--c-off-white);
        color: var(--c-dark-grey);
        padding: 0.75em;
        margin: 0.5em 0;
        text-align: left;
        font-size: var(--txt-p);
    }

    & .predictive-search__container,
    & .predictive_search-products {
        padding: 0 1em;
    }

    & .predictive_search-products {
        height: 100%;
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        gap: 0 0.5em;

        &>p {
            margin: 2em 0;
        }
    }

    & .predictive_search-view-all {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5em;
        color: var(--c-dark-grey);
        border-top: 1px solid var(--c-light-grey);
        margin: 0;
        position: sticky;
        bottom: 0;
    }
}

.predictive_search-section {
    & ul {
        justify-content: flex-start;
        margin-left: 2em;
        flex-flow: column nowrap;
    }
}

@media screen and (width >=575px) {
    .predictive-search--results .predictive_search-products {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (width >=800px) {
    .predictive_search-grid {
        display: flex;
        flex-flow: row-reverse nowrap;
        position: relative;

        & .predictive-search__container:has(.predictive_search-section) {
            width: max(250px, 25%);
            position: sticky;
            top: 0;
            height: fit-content;
        }

        & .predictive_search-products {
            flex: 1;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}

/* ACCORDION */

content-accordian {
    margin: 30px 0;
    display: block;
    font-size: var(--txt-h4);
}

.accordian-item {
    border-bottom: 1px solid var(--c-light-grey);

    &:first-child {
        border-top: 1px solid var(--c-light-grey);
    }

    &.active {
        & svg {
            transform: rotate(0);
            color: var(--c-dark-grey)
        }
    }
}

.accordian-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    font-weight: 700;
    cursor: pointer;
    scroll-margin-top: 100px;

    & span {
        display: grid;
        place-content: centre;
    }

    & svg {
        height: 21px;
        color: var(--c-grey);
        transition: transform 0.2s var(--bezier);
    }

    &.active {
        &+.accordian-content {
            height: fit-content;
            padding-block: 15px;
        }

        & svg {
            transform: rotate(0);
        }
    }
}

.accordian-content {
    overflow: auto hidden;
    height: 0;
    flex-flow: column;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    transition: height 0.2s var(--bezier);

    & a {
        height: 24px;
    }
}

/* MOBILE NAV */

#navDrawer,
#cartDrawer {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 0;
    z-index: 16;

    & .bundle-items {
        order: -1;
    }
}

.side_menu-header {
    display: flex;
    gap: 1.5ch;
    padding: 0 50px 15px 20px;
    border-bottom: 1px solid var(--c-light-grey);
    justify-content: space-evenly;

    & a,
    & .side_menu-header-item {
        text-transform: uppercase;
        font-family: var(--emphasis-heading-font-family);
        font-size: var(--txt-h2);
        color: var(--c-grey);
        opacity: 0.8;
        transition: color 0.2s var(--bezier), scale 0.2s var(--bezier), opacity 0.2s var(--bezier), scale 0.2s var(--bezier);
        scale: 0.75;

    }

        & .side_menu-header-item:hover {
            scale: .8;
        }
    & .active {
        color: var(--c-black);
        scale: 1;
        opacity: 1;
&:hover {
        scale: 1.05;
    }
    }
}

.side_menu-footer {
    background: var(--c-off-white);
    border-top: 1px solid color-mix(in lab, var(--c-off-white), black 10%);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    & p {
        font-size: var(--txt-h5);
    }
}

.cart-footer {
    flex-direction: column;
}

.side_menu-account-links {
    display: flex;
    gap: 15px;
}

.side_menu-menu,
.side_menu-sub-menu {
    border-top: 1px solid var(--c-light-grey);
    scrollbar-width: thin;
    overflow-y: scroll;
    padding-bottom: 55px;

    & ul {
        margin: 0;
        padding: 1em 20px 0;
        flex-flow: column nowrap;

        & li a {
            display: block;
            min-height: 24px;
            font-size: var(--txt-h4);
            font-weight: 700;
            padding: 10px 0;
            border-bottom: 1px solid var(--c-light-grey);
            color: var(--c-dark-grey);

            & svg {
                height: 24px;
                float: right;
                color: var(--c-grey);
            }

            &.side_menu-sub-menu-button {
                font-weight: 400;
            }
        }
    }
}

.side_menu-sub-menu {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.2s ease,
        opacity 0.25s ease;

    &.link-3 {
        left: 300%
    }

    &.link-2 {
        left: 200%
    }

    &.link-1 {
        left: 100%
    }

    & .sub-menu_title {
        margin: 0 20px;
        padding: 15px 0 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--c-grey);
        position: sticky;
        top: 0;
        background: var(--c-white);
        z-index: 1;

        &::after {
            content: none;
        }

        & svg {
            height: 1.2em;
            margin-right: 10px;
            position: relative;
            pointer-events: painted;

            &::after {
                display: block;
                content: "";
                width: 50px;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                ;
            }
        }
    }

    & ul li a {
        font-weight: var(--text-font-weight);
    }
}

.side_menu-slider {
    display: grid;
    flex: 1 1 auto;
    grid-template-columns: repeat(3, 100%);
    width: 100%;
    min-height: 0;
    position: relative;
    transition: left .2s ease;
    left: 0%;
    flex-grow: 1;
}

/* CART DRAWER */
#side_menu-recents {
    display: none;
}

#cartDrawer .cart_items-list,
#cartDrawer .side_menu-footer {
    height: max-content;
    padding: 10px 20px;
}

.cart_items-ctl {
    flex-wrap: wrap;
    gap: 0 7.5px;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: none;

    & .button {
        flex: 1 0 300px;
        font-size: var(--txt-sm);
        text-transform: none;
        font-weight: 400;
        padding: 0.6rem;
        margin-top: 7.5px;
        justify-content: flex-start;
        background-color: var(--c-off-white);
        border-color: transparent;
    }
}

.cart_items-item:first-child .cart_items-ctl {
    display: flex;
}


span.cart_items-ctl-title {
    flex: 1 0 100%;
    font-weight: bold;
    margin: 0.5em 0 -.2em 0.1em;
    display: none;
&:has(+a) {
        display: block;
    }
}

#cartDrawer .side_menu-footer>* {
    margin: 5px auto;
}

#cartDrawer .checkout-button {
    width: 100%;
}

#side-cart {
    min-height: 0;
    flex: 0 100%;
    display: flex;
    flex-flow: column;
}

free-delivery {
    width: 100%;

    & .free-delivery_text {
        text-align: center;
        font-size: var(--txt-sm);
        width: 100%;

        & span {
            margin-bottom: 0.5em;
        }
    }

    & .free-delivery_status-bar {
        --pc-progress: attr(data-progress, 0%);
        --bg-color: var(--c-grey);

        margin: 0.5em 0;
        height: 2px;
        width: 100%;
        background-color: var(--c-light-grey);

        &::before {
            content: '';
            display: block;
            height: 100%;
            width: var(--pc-progress);
            background-color: var(--bg-color);
            transition: width 0.3s var(--bezier);
        }

        &::after {
            content: '';
            display: block;
            position: relative;
            top: -5px;
            left: calc(var(--pc-progress) - 8px);
            height: 8px;
            width: 8px;
            border-radius: 4px;
            background-color: var(--bg-color);
            transition: left 0.3s var(--bezier);
        }
    }
}

.cart-upsells {
    padding: 10px 20px;
    border-top: 1px solid var(--c-light-grey);

    & h2 {
        text-align: left;
        margin: 0.3rem 0;
        height: var(--txt-h4);
            cursor: pointer;
            display: flex;
            justify-content: space-between;
        }

        & svg {
            padding-top: .1rem;
            rotate: 0;
            transition: rotate .2s var(--bezier);

        &.active {
                rotate: 45deg;
            }
    }
}

.cart-upsells--carousel {
    display: flex;
    width: 100%;
    gap: 0.5em;
    margin-top: 0;
    overflow: auto hidden;
    scroll-snap-type: x mandatory;
    height: 0;
    transition: height 0.2s var(--bezier), margin-top 0.2s var(--bezier);

    &.active {
            height: auto;
            margin-top: 1rem;
        }

    & product-card {
        scroll-snap-align: start;
        width: 27.5%;
        flex: 1 0 auto;
        margin: 0;
        border: none;

        & .product_card-info {
            margin-top: 0.2rem
        }

        & .Title,
        & .Price--saving {
            opacity: 0;
            height: 0.5em;
            padding: 0;
            display: none;
        }
    }
}

/*  recently viewed tab */

#side_menu-recents {
    cursor: pointer;
}

recently-viewed {
    overflow-y: auto;

    & .qatb-btns {
        text-align: center;
        margin-top: 1em;
        gap: 1.2em;
    }
}



.rc_button {
    display: flex;
    gap: 1em;
    align-items: center;
}

#side-cart:not(.active),
recently-viewed:not(.active) {
    display: none;
}

/* HERO CSS */
.shopify-section--hero-carousel,
.hero_slide-content {
    max-height: calc(100vh - 130px);
    min-height: 300px;
    overflow: hidden;
}

hero-carousel {
    display: grid;
}

.hero_slide {
    width: 100vw;
    display: grid;
    overflow: hidden;
    max-height: calc(100vh - 130px) !important;
    min-height: 300px;
    grid-area: 1 / 1;
    position: relative;

    &:nth-child(n+2) {
        opacity: 0;
    }
}

.hero_slide-color {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    z-index: -3;
}

.hero_slide-video,
.hero_slide-content,
.hero_slide-overlay {
    width: 100%;
    height: 100%;
    grid-area: 1/1;
    text-align: center;
    place-content: end;
}

.hero_slide-content {
    width: min(1600px, 85vw);
    margin: 0 auto;
}
.hero_slide-video {
    pointer-events: none;
    z-index: -3;
}

.hero_slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

video {
    height: 100%;
    width: 100%;
    margin: -1px;
    object-position: center;
}

.hero_slide-content {
    padding: 0 20px 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: absolute;
    inset: 0;
}

.splide__slide.is-active .fade-in {

    &:nth-last-child(1) {
        transition-delay: .4s;
    }

    &:nth-last-child(2) {
        transition-delay: .3s;
    }

    &:nth-last-child(3) {
        transition-delay: .2s;
    }

    &:nth-last-child(4) {
        transition-delay: .1s;
    }
}

.hero_slide-lockup {
    width: min(90%, 200px);
    height: auto;
    margin: 0 auto 10px;
    display: block;
    order: -2;
}

.hero_slide-content h2,
.hero_slide-content p {
    color: white;
    font-size: var(--txt-xl);
    margin: 0;
    line-height: 1;
    margin-top: 10px;
    text-shadow: 0 0 15px color-mix(in lab, var(--c-black), transparent 70%);
}

.hero_slide-content .signature {
    font-size: var(--txt-xl);
    line-height: 0.9;
    scale: 1;
    margin: 0 0 -0.2em 0 !important;
    font-weight: 400;
}
.hero_slide-content p {
    font-size: initial;
    letter-spacing: var(--letter-spacing);
}

@media screen and (width > 768px) {
    .hero_slide-content--left {

    & h2,
    & p {
        text-align: left;
    }


    & .hero_slide-ctas {
        justify-content: flex-start;
        width: 100%
    }
}

.hero_slide-content--right {

    & h2,
    & p {
        text-align: right;
    }

    & .hero_slide-ctas {
        justify-content: flex-end;
        width: 100%;
    }
}
}

.hero_slide-ctas {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-flow: row wrap;
    width: 90%;
    margin: 20px auto 0;

    & .button {
        flex: 1 1 max-content;
        font-size: var(--txt-sm);
        max-width: 245px;
    }
}

.shopify-section--hero-carousel .splide__pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 5px;
    padding: 0 2em;
    margin-bottom: 0;

    & li button {
        background: transparent;
        border: none;
        color: var(--c-white);
        opacity: 0.5;
        min-width: 24px;
        height: 24px;
        text-shadow: 0 0 5px var(--c-grey);
        cursor: pointer;

        &:hover {
            box-shadow: none;
        }

        &.is-active {
            color: var(--c-white);
            opacity: 1;
        }
    }
}

@media screen and (min-width: 768px) {
    .shopify-section--hero-carousel .splide__pagination {
        justify-content: flex-end;
    }
}

/* QUICK LINKS */

.quick_links {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 50px 0 0;
}

.quick_links-link {
    display: flex;
    justify-content: center;
    min-height: 50px;
    position: relative;
    text-align: center;
    border-top: 1px solid color-mix(in lab, var(--btn-bg), white 15%);

    & img {
        height: 100%;
        object-fit: contain;
        max-height: 50px;
        max-width: min(45%, 175px);
        padding: 8px 0;
    }
}

slide-drawer .quick_links {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    height: 50px;
}

slide-drawer .quick_links-link {
    border-left: 1px solid color-mix(in lab, var(--btn-bg), white 15%);

    & img {
        max-width: min(65%, 175px);
    }
}

/* FOOTER */
footer.section--footer {
    padding-top: 60px;
    margin: 60px 0 0;
    border-top: 1px solid var(--c-light-grey);
    color: var(--c-grey);
    width: 100%;
}

ul.social-links {
    height: 28px;
    margin: 15px 0;
    padding: 0;
    gap: 16px;

    & li {
        width: 28px;

        &:first-child {
            margin-right: -5px;
        }
    }

    & a {
        height: 100%;
        text-align: center;
        display: grid;
        place-items: center;

        &:hover svg {
            fill: var(--c-dark-grey);
            color: var(--c-dark-grey);
        }
    }

    & svg {
        fill: var(--c-grey);
        transition: fill 0.2s ease;
        height: 18px;
    }
}

img.footer-logo {
    opacity: 0.5;
    max-width: 50px;
    margin: 1rem auto;
    display: block;
}

.footer-socials span {
    text-align: center;
    letter-spacing: calc(var(--letter-spacing) * 2);
    display: block;
    margin: 0 auto;
    font-size: var(--txt-h5);
    color: var(--c-grey);
}

.meta-description {
    margin: 0px auto 60px;
    max-width: none;

    & p {
        max-width: none;
    }
}

.payment-icons {
    margin: 40px 0 0;
}

.payment-icon {
    filter: grayscale(0.25);
    transition: filter .15s var(--bezier);

    &:hover {
        filter: grayscale(0);
    }
}

.footer-copyright {
    background-color: var(--c-off-white);
    margin: 20px 0;
    padding: 20px 20px 50px;
    max-width: 100vw;
    color: var(--c-dark-grey);
    text-align: center;

    & p {
        font-size: var(--txt-sm);
    }
}

.footer-container li a {
    display: inline-flex;
    min-height: 24px;
    min-width: 24px;
    place-content: center;
}

@media screen and (width > 768px) {
    .footer-container {
        display: flex;
        gap: 5vw;
        margin-bottom: 60px;
    }

    footer.section--footer {
        margin: 60px auto 0;

        & .footer-socials {
            width: 20vw;
        }

        & content-accordian {
            flex-grow: 1;
            display: flex;
            justify-content: stretch;
            gap: 15px;
            margin: 0 0 60px;

            & svg {
                display: none;
            }

            & .accordian-item {
                border: none !important;
                flex: 1 0 auto;
            }

            & .accordian-header {
                pointer-events: none;
                font-size: var(--txt-p);
                margin-bottom: 10px;
                color: var(--c-dark-grey);
            }

            & .accordian-content {
                height: fit-content;
                margin: 0;
                gap: 10px;
                font-size: var(--txt-p);
            }
        }
    }


}

/* PRODUCT CARDS */

/* .splide__slide {
    & .product_card-info {
        height: 0;
    }

    &.is-active .product_card-info {
        height: auto;
    }
} */

article:has(product-card) {
    scroll-margin-top: 105px;
}

product-card {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;

    &.first-item {
        order: -1;
    }


    & .product_card-media {
        aspect-ratio: 35 / 50;
        position: relative;
        overflow-y: hidden;

        &.oos-overlay::after {
            backdrop-filter: blur(-1px);
            background: linear-gradient(0deg, #1e1e1e, #1e1e1e80 40%, #fff0 66%);
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            transition: top .2s ease;
            width: 100%;
        }
    }

    & .product_card-images {
        display: flex;
        overflow: auto hidden;
        white-space: nowrap;
        scroll-snap-align: start;
        scroll-snap-type: x mandatory;
        scrollbar-width: thin;
        place-items: center;
        width: 100%;
        height: 100%;
        position: relative;
    }

    & .outofstockcontainer {
        position: absolute;
        bottom: 10%;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        padding: .65rem 1rem;
        min-width: 50%;
    }

    & .product_card-first-image {
        display: grid;
        flex: 0 0 100%;
        align-items: center;
        height: 100%;

        & .background-image {
            z-index: -1;
        }
    }

    & .product_card-decal {
        bottom: 1em;
        position: absolute;
        right: 2px;
        z-index: 1;
        height: auto;
        width: auto;
        max-width: 50%;
        object-fit: contain;
    }

    & img {
        height: 100%;
        width: 100%;
        display: block;
        scroll-snap-align: start;
        object-position: center;
    }

    &>a img:first-of-type {
        height: 100%;
        z-index: -2;
    }

    & :nth-child(-n + 3) {
        grid-area: 1 / 1;
    }

    & .product_card-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: auto;
        height: fit-content;
        overflow-y: hidden;
        transition: height 0.1s var(--bezier);
        justify-content: space-between;
        margin-bottom: 0.5rem;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid var(--c-light-grey);
    }

    & .countdown-wrapper {
        text-align: center;
        color: var(--c-white);
        background-color: var(--c-black);
        padding: 0.6em 0 0.4em;
        margin: 0.5em 0 0;
        line-height: 1;
        min-height: 27px;
    }

    & .datb {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0;
        background: var(--c-white);
        transition: height 0.15s ease, opacity 0.14s ease-in;
        display: none;
        padding: 20px 10px;
        opacity: 0;
        text-align: center;
        z-index: 2;

        & p {
            padding-bottom: 10px;
        }
    }

    .iWishColl,
    .mqatb-show {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .iWishColl {
        background: color-mix(in lab, var(--c-white), transparent 70%);

        & span {
            display: none;
        }
    }

    .mqatb-show {
        top: 54px;
        background: var(--c-white);

        & svg {
            width: 18px;
            height: 18px;
            stroke: var(--c-dark-grey);
        }
    }

    & .Price--saving {
        position: absolute;
        top: 15px;
        background-color: var(--c-sale);
        color: white;
        font-weight: 700;
        font-size: var(--txt-sm);
    }

    & span.Price--saving.error {
        background-color: var(--c-black);
    }
}

product-card,
.mqatb-modal {
    & .Title {
        justify-content: space-between;
        padding-top: 1em;
        padding-bottom: 0.25em;

        & .title {
            padding-right: 5px;
            font-size: var(--txt-p);
        }

        & .colour {
            text-align: right;
        }
    }
}

.qatb-btns {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-flow: row wrap;
    grid-column: 1 / -1;
    margin-top: 0.55em;
}

.qatb-btn,
.qatb-btn--oos {
    min-width: 24px;
    height: 18px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: inline;
}

.qatb-btn--oos {
    color: var(--c-light-grey);
    border-color: transparent;
    pointer-events: none;
}

.cart-error {
    margin: 0 auto 5px;
}

.qatb-btn {
    border-bottom-color: var(--c-grey);
    color: var(--c-dark-grey);

    &:has(> .loader) {
        border-bottom-color: transparent;
    }

    & .loader {
        scale: 0.5;
        margin-top: -3px;
    }

    &:not(:has(> .loader)):hover {
        color: var(--c-black);
        border-bottom-width: 2px;
        padding-bottom: 0;
        font-weight: 700;
        border-bottom-color: var(--c-black);
        transition: scale 0.1s ease;

        &:active {
            scale: 0.9;
        }
    }
}

.mqatb-modal {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed !important;
    transition-delay: 0s !important;
    bottom: 0;
    width: 100vw;
    max-height: 90vh;
    z-index: 16;
    background: var(--c-white);
    box-shadow: 0 0 0.5rem var(--c-shadow);

    & .mqatb-images {
        width: 100vw;
        aspect-ratio: 1;
        overflow: auto hidden;
        display: flex;
        place-items: center;
        scroll-snap-type: x mandatory;
        scrollbar-color: var(--c-black) white;
        white-space: nowrap;

        & img {
            scroll-snap-align: start;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top center;

            &:nth-last-child(n+2) {
                border-right: 1px solid var(--c-off-white);
            }
        }
    }

    & .mqatb-info {
        padding: 0 20px 15px;
        border-bottom: 1px solid var(--c-light-grey);
        border-top: 1px solid var(--c-light-grey);
        background-color: var(--c-off-white);

        & .Title,
        & .Price--wrapper {
            font-size: var(--txt-h4);
        }
    }

    & .mqatb-btns {
        padding: 2vh 10px;
    }

    & .mqatb-close {
        top: 18px;
        right: 18px;
        position: absolute;
    }
}

@media screen and (width > 768px) {
    .mqatb-modal:not(.active) {
        display: none !important;
    }

    product-card {
        & .product_card-images {
            grid-template-columns: 100%;
            display: grid;

            & img {
                width: calc(100% - 2px);
                height: calc(100% - 2px);
            }
        }

        & a {
            display: inline;
        }

        & a>img {
            grid-area: 1 / 1;

            &:nth-of-type(1) {
                opacity: 0;
                transition: opacity 0.35s ease;
            }
        }

        & a>.product_card-first-image {
            opacity: 1;
            transition: opacity 0.35s ease;

        }

        & .datb {
            display: block;
        }

        &:not(.modal-true) .mqatb-show {
            display: none;
        }

        &:hover {
            & a>img:nth-of-type(1) {
                opacity: 1;
            }

            & a>.product_card-first-image:has(+img) {
                opacity: 0
            }

        }

        &:not(.modal-true):hover {
            & .datb {
                height: fit-content;
                opacity: 1;
            }
        }
    }

    .mqatb-modal {
        display: flex;
        max-width: 750px;
        max-height: 750px;
        width: 80vw;
        height: 80vh;
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        & .mqatb-images {
            width: 100%;
        }
    }
}

/* tables */

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--c-grey);
    font-size: var(--txt-p);
    justify-content: center;
    margin: 1rem 0;
}

caption {
    padding: 1rem;
    margin-left: 1em;
}

thead {
    background-color: var(--c-off-white);
    border-block: 1px solid var(--c-grey);

}

th {
    border-right: 1px solid var(--c-light-grey);
    padding: 1em .75em;
    border-bottom: 1px solid var(--c-grey);

    &:last-child {
        border-right: none;
    }
}

tbody {
    background-color: var(--c-white);

    & tr:nth-of-type(even) {
        background-color: var(--c-off-white);
    }

    & td {
        border-right: 1px solid var(--c-light-grey);
        border-top: 1px solid var(--c-light-grey);
        padding: 1em 0.5em;

        &:last-child {
            border-right: none;
        }

        &:nth-child(odd) {
            background-color: transparent;
        }
    }
}

/* forms */

*:focus-visible {
    appearance: none;
    outline: 1px solid var(--c-black);
}

form {
    grid-area: 1 / 1;
    width: min(100%, 400px);
    margin: 0 auto;

    & .error,
    & .warning {
        margin-bottom: 1em;
        padding: 1em;
    }

    & p {
        margin-top: 1em;
    }

    & a {
        text-decoration: underline;
    }

    & input:not([type="checkbox"]),
    & select,
    & textarea {
        width: 100%;
        padding: 1em 2em;
        font-family: var(--text-font-family);

        &::placeholder {
            color: var(--c-black);
            letter-spacing: 0.1ch;
        }
    }

    & .checkbox-label {
        margin-bottom: 1em;
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5em;
        width: 100%;
    }

    & button {
        margin: 0 auto;
        display: block;
    }

    .span-2 {
        grid-column: 1 / -1;

        & input {
            width: 100%;
        }
    }

    .Form__Textarea {
        margin-bottom: 0;
    }

    .Form__Item {
        margin: 0 auto 1.5em;
        position: relative;
        width: 100%;

        & .Form__TextArea:focus-visible {
            color: red;
        }

        & .Form__Input:not(:placeholder-shown)~label,
        & .Form__Textarea:not(:placeholder-shown)~label {
            opacity: 1;
            translate: 0 -50%;
        }

        & label {
            position: absolute;
            top: 0;
            left: 5%;
            font-size: 12px;
            padding: 5px;
            background-color: var(--c-white);
            translate: 0 0;
            transition: all 0.15s var(--bezier);
            opacity: 0;
            pointer-events: none;
        }

        & a {
            position: absolute;
            right: 5%;
            top: 50%;
            translate: 0 -50%;
            text-decoration: none;
        }
    }
}


/* 3rd THIRD PARTY OVERRIDES */

.yotpo-widget-loyalty-floater-widget .yotpo-floater-widget-layout {
    z-index: 5 !important;
}

.yotpo-banner-layout.yotpo-banner-low {
    border-top: 1px solid var(--c-light-grey);
}

#fc_frame,
#fc_frame.fc-widget-normal {
    z-index: 5 !important;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.current-country {
    font-weight: bold;
}

/* mobile nav */
.mobile-navigation .CountryList {
    max-height: 30vh;
}

.mobile-navigation .disclosure__item {
    width: 100% !important;
    padding-left: 0;
}

.mobile-navigation .disclosure__button {
    padding-left: 0px;
}

/* Animations */

@keyframes drive {

    0%,
    100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(110%);
    }

    51% {
        transform: translateX(-100%)
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    50%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-14%);
    }

    75% {
        transform: translateY(-7%);
    }
}